shared_models:
  base_path: "__CE_MODELS_ROOT__"
  checkpoints: "checkpoints"
  loras: "loras"
  vae: "vae"
  text_encoders: "text_encoders"
  diffusion_models: "diffusion_models"
  clip_vision: "clip_vision"
  style_models: "style_models"
  controlnet: "controlnet"
  upscale_models: "upscale_models"
  latent_upscale_models: "latent_upscale_models"
